Repository jenkins-infra/helm-charts, pull requests merged in 2023-11, with the labels that each got.

#915 fix(httpd): don't include sha256 in `image.tag` value
  charts/httpd/Chart.yaml
  charts/httpd/values.yaml
  updatecli/updatecli.d/httpd.yaml
Labels: bug, httpd

#911 chore(GHA): remove `on.*.paths` from required workflows
  .github/workflows/check-chart-versions-bump.yml
  .github/workflows/test.yml
Labels: chore, github-action

#912 chore: update README.md
  README.md
Labels: documentation, chore

#917 chore(updatecli): also target `httpd` image version without sha256 in `mirrorbits` chart
  updatecli/updatecli.d/httpd.yaml
Labels: chore, mirrorbits, httpd, updatecli

#914 fix(ldap): fix helm templating and add unit tests
  charts/ldap/Chart.yaml
  charts/ldap/tests/custom_values_test.yaml
  charts/ldap/tests/defaults_values_test.yaml
  charts/ldap/values.yaml
Labels: bug, ldap

#924 feat(httpd) tailor configuration for Jenkins's mirrorbits usage
  charts/httpd/Chart.yaml
  charts/httpd/templates/configmap.yaml
Labels: enhancement, httpd

#933 feat(ldap) allow customization of the LB service for Azure
  charts/ldap/Chart.yaml
  charts/ldap/templates/service.yaml
  charts/ldap/tests/custom_values_test.yaml
  charts/ldap/tests/defaults_values_test.yaml
Labels: enhancement, ldap

#934 feat!(ipv6LBservice): change annotations for azurepipname and ResourceGroup
  charts/ipv6-lb-service/Chart.yaml
  charts/ipv6-lb-service/templates/ipv6-lb-service.yaml
  charts/ipv6-lb-service/values.yaml
Labels: breaking, ipv6-lb-service

#939 chore(updatecli): use GitHub release as source in `plugin-site-api` manifest
  updatecli/updatecli.d/plugin-site-api.yaml
Labels: chore, updatecli, plugin-site-api

#945 [artifact-caching-proxy] Add optional `env` and `envFrom` sections
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/statefulset.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: enhancement, artifact-caching-proxy

#952 feat(rsyncd): remove the sha corresponding to amd64 to enable arm64 images
  charts/rsyncd/Chart.yaml
  charts/rsyncd/values.yaml
  updatecli/updatecli.d/rsyncd.yaml
Labels: enhancement, rsyncd

#956 chore(gha/release): pass GitHub Token to `azure/setup-helm` and increase its version precision
  .github/workflows/release.yml
Labels: chore, github-action

#957 feat(gha/release): add commit subject as chart release changelog
  .github/workflows/release.yml
Labels: enhancement, github-action

#959 feat: add `nginx-website` chart
  charts/nginx-website/.gitignore
  charts/nginx-website/.helmignore
  charts/nginx-website/Chart.yaml
  charts/nginx-website/README.md
  charts/nginx-website/templates/NOTES.txt
  charts/nginx-website/templates/_helpers.tpl
  charts/nginx-website/templates/deployment.yaml
  charts/nginx-website/templates/ingress.yaml
  charts/nginx-website/templates/nginx-configmap.yaml
  charts/nginx-website/templates/pdb.yaml
  charts/nginx-website/templates/secret.yaml
  charts/nginx-website/templates/service.yaml
  charts/nginx-website/tests/custom_values_test.yaml
  charts/nginx-website/tests/defaults_test.yaml
  charts/nginx-website/values.yaml
  updatecli/updatecli.d/nginx.yaml
Labels: nginx-website
