Repository jenkins-infra/helm-charts, pull requests merged in 2023-08, with the labels that each got.

#580 fix(mirrorbits): use the PVC name defined in values.yaml everywhere
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.files.yaml
  charts/mirrorbits/templates/deployment.yaml
Labels: bug, mirrorbits

#585 fix(mirrorbits): correct service selector label
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/service.files.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/values.yaml
Labels: bug, mirrorbits

#591 chore(mirrorbits): set images `pullPolicy` to `IfNotPresent`
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.files.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/values.yaml
Labels: enhancement

#609 feat(mirrorbits): transplant `rsyncd` service from `rsyncd-mirror` chart
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.rsyncd.yaml
  charts/mirrorbits/templates/ingress.rsyncd.yaml
  charts/mirrorbits/templates/service.rsyncd.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/values.yaml
  updatecli/updatecli.d/mirrorbits.yaml
Labels: enhancement, mirrorbits

#596 feat: test only modified charts with unit tests on pull requests
  .github/workflows/test.yml
Labels: enhancement

#611 chore(updatecli) remove unused or deprecated manifest content for 0.57.0
  updatecli/updatecli.d/accountapp.yaml
  updatecli/updatecli.d/helm-unittest.yaml
  updatecli/updatecli.d/incrementals-publisher.yaml
  updatecli/updatecli.d/ircbot.yaml
  updatecli/updatecli.d/ldap.yaml
  updatecli/updatecli.d/mirrorbits.yaml
  updatecli/updatecli.d/nginx.yaml
  updatecli/updatecli.d/plugin-health-scoring.yaml
  updatecli/updatecli.d/plugin-site-issues.yaml
  updatecli/updatecli.d/rating.yaml
  updatecli/updatecli.d/rss2twitter.yaml
  updatecli/updatecli.d/uplink.yaml
  updatecli/updatecli.d/wiki.yaml
Labels: chore

#630 fix(mirrorbits) correct container image name tag and digest usages
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.rsyncd.yaml
  charts/mirrorbits/values.yaml
  updatecli/updatecli.d/mirrorbits.yaml
Labels: bug, mirrorbits

#633 feat(mirrorbits) use rsyncd restricted but customizable configuration
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/configmap.rsyncd.jenkins-motd.yaml
  charts/mirrorbits/templates/configmap.rsyncd.rsyncd-conf.yaml
  charts/mirrorbits/templates/deployment.rsyncd.yaml
  charts/mirrorbits/templates/service.rsyncd.yaml
  charts/mirrorbits/templates/tests/test-connection.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/values.yaml
Labels: bug, enhancement, mirrorbits
