Repository jenkins-infra/helm-charts, pull requests merged in 2023-02, with the labels that each got.

#400 feat(acp) Improve I/O perfomances
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/nginx-default-configmap.yaml
Labels: enhancement

#411 fix(artifact-caching-proxy): correct nginx log format
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/nginx-default-configmap.yaml
Labels: bug, artifact-caching-proxy

#412 fix(artifact-caching-proxy) ensure that the vhost for nginx_status is loaded to allow datadog logs integration
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/nginx-proxy-configmap.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
Labels: bug, artifact-caching-proxy

#414 chore(artifact-caching-proxy): increase default cache retention to one month
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: chore, artifact-caching-proxy
