Repository jenkins-infra/helm-charts, pull requests merged in 2023-04, with the labels that each got.

#474 Update nginx GPG key rewrite
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/templates/nginx-configmap.yaml
Labels: enhancement

#481 chore(tests) switch from quintush to helm-unittest
  .github/workflows/test.yml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
  charts/httpredirector/tests/defaults_test.yaml
  charts/httpredirector/tests/withvalues_test.yaml
  charts/jenkins-jobs/tests/credentials_test.yaml
  charts/jenkins-jobs/tests/defaults_test.yaml
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: chore

#488 feat(jenkins-kubernetes-agents) add an SVC account token (no longer generated since Kubernetes 1.23)
  charts/jenkins-kubernetes-agents/Chart.yaml
  charts/jenkins-kubernetes-agents/templates/serviceaccounttoken.yaml
  charts/jenkins-kubernetes-agents/tests/custom_values_test.yaml
  charts/jenkins-kubernetes-agents/tests/defaults_test.yaml
Labels: enhancement, jenkins-kubernetes-agents

#495 feat(accountapp): allow configuring the `SMTP_PORT` value
  charts/accountapp/Chart.yaml
  charts/accountapp/templates/deployment.yaml
  charts/accountapp/values.yaml
Labels: enhancement, accountapp
