Repository jenkins-infra/helm-charts, pull requests merged in 2023-09, with the labels that each got.

#668 chore(updatecli) fix httpd and rsyncd manifest to track their respective charts
  updatecli/updatecli.d/httpd.yaml
  updatecli/updatecli.d/rsyncd.yaml
Labels: chore

#685 chore(updatecli/rsyncd): use `patch` as versionincrement
  updatecli/updatecli.d/rsyncd.yaml
Labels: chore

#687 fix(rsyncd) allow running as non root by specifying an internal port > 1024
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/configmap.rsyncd-conf.yaml
  charts/rsyncd/templates/deployment.yaml
  charts/rsyncd/templates/service.yaml
  charts/rsyncd/tests/custom_values_test.yaml
  charts/rsyncd/tests/defaults_test.yaml
  charts/rsyncd/values.yaml
Labels: bug, rsync

#688 cleanup(rsyncd) defer default command to container image
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/deployment.yaml
  charts/rsyncd/tests/defaults_test.yaml
Labels: cleanup

#689 feat(rsyncd) use tmpfs for `/tmp` and `/rsync/run` directories
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/deployment.yaml
  charts/rsyncd/tests/custom_values_test.yaml
  charts/rsyncd/tests/defaults_test.yaml
Labels: enhancement, rsync

#686 fix(uplink): Ensure string input for b64enc in secret.yaml
  charts/uplink/Chart.yaml
  charts/uplink/templates/secret.yaml
  charts/uplink/templates/tests/custom_values_test.yaml
  charts/uplink/templates/tests/defaults_test.yaml
Labels: bug, uplink

#698 chore(updatecli) fix wiki chart image architecture to use 'arm64'
  updatecli/updatecli.d/wiki.yaml
Labels: chore, wiki, updatecli

#714 chore(uplink) fix unit tests
  charts/uplink/Chart.yaml
  charts/uplink/templates/tests/custom_values_test.yaml
  charts/uplink/templates/tests/defaults_test.yaml
  charts/uplink/templates/tests/test-connection.yaml
  charts/uplink/tests/custom_values_test.yaml
  charts/uplink/tests/defaults_test.yaml
Labels: chore, uplink

#712 chore(tests) remove all `test-connection.yaml` tests as useless
  charts/basic-helm-chart-example/Chart.yaml
  charts/basic-helm-chart-example/templates/tests/test-connection.yaml
  charts/incrementals-publisher/Chart.yaml
  charts/incrementals-publisher/templates/tests/test-connection.yaml
  charts/javadoc/Chart.yaml
  charts/javadoc/templates/tests/test-connection.yaml
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/templates/tests/test-connection.yaml
  charts/keycloak/Chart.yaml
  charts/keycloak/templates/tests/test-connection.yaml
  charts/plugin-site-issues/Chart.yaml
  charts/plugin-site-issues/templates/tests/test-connection.yaml
  charts/plugin-site/Chart.yaml
  charts/plugin-site/templates/tests/test-connection.yaml
  charts/rating/Chart.yaml
  charts/rating/templates/tests/test-connection.yaml
  charts/reports/Chart.yaml
  charts/reports/templates/tests/test-connection.yaml
Labels: chore

#724 fix(wiki): PDB only one option possible not both
  charts/wiki/Chart.yaml
  charts/wiki/values.yaml
Labels: bug, wiki

#715 fix(acme): fix templating and add unit tests (#655)
  charts/acme/Chart.yaml
  charts/acme/templates/clusterIssuer.yaml
  charts/acme/tests/custom_values_test.yaml
  charts/acme/tests/defaults_values_test.yaml
  charts/acme/values.yaml
Labels: bug, acme

#730 feat(mirrorbits) use a volume for logs
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/secrets_default_values.yaml
  charts/mirrorbits/values.yaml
Labels: enhancement, mirrorbits

#732 fix(mirrorbits) correct the mountpath to the real location
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
Labels: bug, mirrorbits

#731 feat(mirrorbits-lite) use a volume for logs
  charts/mirrorbits-lite/Chart.yaml
  charts/mirrorbits-lite/templates/deployment.yaml
  charts/mirrorbits-lite/tests/custom_values_test.yaml
  charts/mirrorbits-lite/tests/defaults_test.yaml
  charts/mirrorbits-lite/tests/secrets_default_values.yaml
  charts/mirrorbits-lite/values.yaml
Labels: enhancement, mirrorbits-lite

#738 feat(mirrorbits-parent) add support for an umbrella ingress
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/templates/_helpers.tpl
  charts/mirrorbits-parent/templates/ingress.yaml
  charts/mirrorbits-parent/tests/custom_values_test.yaml
  charts/mirrorbits-parent/tests/defaults_test.yaml
  charts/mirrorbits-parent/values.yaml
Labels: enhancement, mirrorbits-parent

#774 feat(mirrorbits-parent) allow managing an 'umbrella' persistent storage
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/templates/_helpers.tpl
  charts/mirrorbits-parent/templates/ingress.yaml
  charts/mirrorbits-parent/templates/persistentvolume.yaml
  charts/mirrorbits-parent/templates/persistentvolumeclaim.yaml
  charts/mirrorbits-parent/templates/persistentvolumesecret.yaml
  charts/mirrorbits-parent/tests/custom_values_ingress_test.yaml
  charts/mirrorbits-parent/tests/custom_values_storage_test.yaml
  charts/mirrorbits-parent/tests/defaults_storage_test.yaml
  charts/mirrorbits-parent/tests/defaults_test.yaml
  charts/mirrorbits-parent/values.yaml
Labels: enhancement, mirrorbits-parent

#775 docs(mirrorbit-parents) improve documentation
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/README.md
  charts/mirrorbits-parent/templates/_helpers.tpl
  charts/mirrorbits-parent/templates/persistentvolumesecret.yaml
  charts/mirrorbits-parent/values.yaml
Labels: documentation, mirrorbits-parent

#780 fix(account-app) correct default values for 'resources' to avoid YAML parsing error
  charts/accountapp/Chart.yaml
  charts/accountapp/templates/deployment.yaml
  charts/accountapp/tests/custom_values_test.yaml
  charts/accountapp/tests/defaults_test.yaml
  charts/accountapp/values.yaml
Labels: bug, accountapp

#802 feat(acp): adding affinity with unittest
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/statefulset.yaml
  charts/artifact-caching-proxy/tests/affinity_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
Labels: enhancement, artifact-caching-proxy

#807 feat(artifact-caching-proxy): add PodDisruptionBudget
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/pdb.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
Labels: enhancement, artifact-caching-proxy

#808 fix(jenkinsio) ensure default values are valid. Closes #658.
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/tests/custom_values.yaml
  charts/jenkinsio/tests/defaults_values_test.yaml
  charts/jenkinsio/values.yaml
Labels: bug, jenkinsio

#810 feat!(jenkinsio) 💥 allow specifying custom affinities per deployment.
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/templates/deployment.yaml
  charts/jenkinsio/templates/zh-deployment.yaml
  charts/jenkinsio/tests/custom_values_test.yaml
  charts/jenkinsio/tests/defaults_values_test.yaml
  charts/jenkinsio/values.yaml
Labels: jenkinsio, breaking
