Repository jenkins-infra/helm-charts, pull requests merged in 2023-10, with the labels that each got.

#812 feat(javadoc): adding PodDisruptionBudget to javadoc
  charts/javadoc/Chart.yaml
  charts/javadoc/templates/_helpers.tpl
  charts/javadoc/templates/deployment.yaml
  charts/javadoc/templates/pdb.yaml
  charts/javadoc/tests/custom_values_test.yaml
  charts/javadoc/tests/defaults_test.yaml
  charts/javadoc/values.yaml
Labels: enhancement, javadoc

#818 feat(httpd) allow overriding ingress and PV(C)s based on global value from parent chart
  charts/httpd/Chart.yaml
  charts/httpd/templates/_helpers.tpl
  charts/httpd/templates/deployment.yaml
  charts/httpd/templates/ingress.yaml
  charts/httpd/templates/mocks/_helpers.tpl
  charts/httpd/templates/persistentVolume.yaml
  charts/httpd/templates/persistentVolumeClaim.yaml
  charts/httpd/tests/custom_values_test.yaml
  charts/httpd/tests/defaults_test.yaml
  charts/httpd/tests/parent_values_test.yaml
Labels: enhancement, httpd

#821 feat(uplink): add PodDisruptionBudget and unittests
  charts/uplink/Chart.yaml
  charts/uplink/templates/_helpers.tpl
  charts/uplink/templates/deployment.yaml
  charts/uplink/templates/pdb.yaml
  charts/uplink/tests/custom_values_test.yaml
  charts/uplink/tests/defaults_test.yaml
  charts/uplink/values.yaml
Labels: enhancement, uplink

#822 fix(artifact-caching-proxy) set defaults on PDB
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: bug, artifact-caching-proxy

#825 fixup(httpd & mirrorbits-lite) remove all mocks from packaged chart
  charts/httpd/.helmignore
  charts/httpd/Chart.yaml
  charts/httpd/templates/_helpers.tpl
  charts/httpd/templates/mocks/_helpers.tpl
  charts/httpd/tests/parent_values_test.yaml
  charts/mirrorbits-lite/.helmignore
  charts/mirrorbits-lite/Chart.yaml
  charts/mirrorbits-lite/templates/_helpers.tpl
  charts/mirrorbits-lite/templates/mocks/_helpers.tpl
  charts/mirrorbits-lite/tests/parent_values_test.yaml
Labels: bug, mirrorbits-lite, httpd

#827 feat(jenkinsio): add PodDisruptionBudget to jenkinsio and jenkinsio-zh with there unittest
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/templates/_helpers.tpl
  charts/jenkinsio/templates/pdb-zh.yaml
  charts/jenkinsio/templates/pdb.yaml
  charts/jenkinsio/tests/custom_values_test.yaml
  charts/jenkinsio/tests/defaults_values_test.yaml
  charts/jenkinsio/values.yaml
Labels: enhancement, jenkinsio

#831 bump(PHS): bump to 2.8.0 with arm64 compatible image
  charts/plugin-health-scoring/Chart.yaml
  charts/plugin-health-scoring/values.yaml
Labels: enhancement, plugin-health-scoring

#830 feat(rsyncd) allow overriding PV(C)s based on global value from parent chart
  charts/rsyncd/.helmignore
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/_helpers.tpl
  charts/rsyncd/templates/deployment.yaml
  charts/rsyncd/tests/parent_values_test.yaml
Labels: enhancement, rsyncd

#840 feat(plugin-site-frontend): add PDB and unittest
  charts/plugin-site/Chart.yaml
  charts/plugin-site/templates/_helpers.tpl
  charts/plugin-site/templates/deployment-frontend.yaml
  charts/plugin-site/templates/pdb-frontend.yaml
  charts/plugin-site/tests/custom_values_test.yaml
  charts/plugin-site/tests/defaults_values_test.yaml
  charts/plugin-site/values.yaml
Labels: enhancement, plugin-site

#837 feat(mirrorbits-lite) create a PDB when application is replicated
  charts/mirrorbits-lite/Chart.yaml
  charts/mirrorbits-lite/templates/_helpers.tpl
  charts/mirrorbits-lite/templates/pdb.yaml
  charts/mirrorbits-lite/tests/custom_values_test.yaml
  charts/mirrorbits-lite/tests/defaults_test.yaml
  charts/mirrorbits-lite/values.yaml
Labels: enhancement, mirrorbits-lite

#836 fix(mirrorbit-lite) only create secrets when needed
  charts/mirrorbits-lite/.helmignore
  charts/mirrorbits-lite/Chart.yaml
  charts/mirrorbits-lite/templates/deployment.yaml
  charts/mirrorbits-lite/templates/secrets.yaml
  charts/mirrorbits-lite/tests/custom_values_test.yaml
  charts/mirrorbits-lite/tests/defaults_test.yaml
  charts/mirrorbits-lite/tests/parent_values_test.yaml
Labels: bug, mirrorbits-lite

#844 hotfix(plugin-site) separate svcs
  charts/plugin-site/Chart.yaml
  charts/plugin-site/templates/_helpers.tpl
  charts/plugin-site/templates/deployment-backend.yaml
  charts/plugin-site/templates/deployment-frontend.yaml
  charts/plugin-site/templates/ingress.yaml
  charts/plugin-site/templates/pdb-frontend.yaml
  charts/plugin-site/templates/service-backend.yaml
  charts/plugin-site/templates/service-frontend.yaml
  charts/plugin-site/templates/service.yaml
  charts/plugin-site/values.yaml
Labels: bug, plugin-site

#855 fix(plugin-site) bump Docker image to switch JDK8 to Temurin `1.8.0_382` (and support of cgroups v2)
  charts/plugin-site/Chart.yaml
  charts/plugin-site/values.yaml
Labels: bug, plugin-site, plugin-site-api

#850 chore(updatecli): add manifest for `plugin-site-api` docker image
  updatecli/updatecli.d/plugin-site-api.yaml
Labels: dependencies, plugin-site, updatecli, plugin-site-api

#871 Fix `rating` chart render issue and add unit tests
  charts/rating/Chart.yaml
  charts/rating/templates/deployment.yaml
  charts/rating/tests/defaults_test.yaml
Labels: bug, hacktoberfest, rating, hacktoberfest-accepted

#897 feat (mirrorbits-parents): add service account
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/templates/_helpers.tpl
  charts/mirrorbits-parent/templates/serviceaccount.yaml
  charts/mirrorbits-parent/tests/custom_values_serviceaccount_test.yaml
  charts/mirrorbits-parent/tests/defaults_test.yaml
  charts/mirrorbits-parent/values.yaml
Labels: enhancement, mirrorbits-parent

#906 fix(mirrorbit-parent) add missing permission to allow exec on a pod
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/templates/serviceaccount.yaml
  charts/mirrorbits-parent/tests/custom_values_serviceaccount_test.yaml
Labels: bug, mirrorbits-parent

#908 chore(updatecli): ensure every arm64 migrated service manifest is checking for arm64 image too
  updatecli/updatecli.d/httpd.yaml
  updatecli/updatecli.d/incrementals-publisher.yaml
  updatecli/updatecli.d/nginx.yaml
  updatecli/updatecli.d/rating.yaml
  updatecli/updatecli.d/wiki.yaml
Labels: chore, updatecli
