Repository jenkins-infra/helm-charts, pull requests merged in 2024-11, with the labels that each got.

#1429 feat(jenkins-jobs) allow disabling the GitHub Notifications
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_jobDSL_jobs_multibranch.tpl
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
  charts/jenkins-jobs/values.yaml
Labels: enhancement, jenkins-jobs

#1438 fix(rsyncd) service: do not specify an empty 'loadBalancerSourceRanges' when using a LB with no whiteliste specified
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/service.yaml
Labels: bug, rsyncd

#1440 fix(rsyncd) increase helath probes failures threshold for SSHD
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/deployment.yaml
Labels: bug, rsyncd

#1443 feat(geoipupdater): provide a cronjob for update geoip
  charts/geoipupdates/Chart.yaml
  charts/geoipupdates/templates/cronjob.yaml
  charts/geoipupdates/templates/deployment.yaml
  charts/geoipupdates/tests/defaults_test.yaml
  charts/geoipupdates/values.yaml
Labels: enhancement, geoipupdates

#1449 feat(mirrorbits) allow to mount a PVC with a subdir option
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.yaml
Labels: enhancement, mirrorbits

#1452 feat(rsyncd) allow specifying path to existing host keys through `configuration.sshd.persistentHostKeys`
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/deployment.yaml
  charts/rsyncd/tests/custom_values_sshd_test.yaml
  charts/rsyncd/tests/values/custom_sshd.yaml
Labels: enhancement, rsyncd

#1455 feat!(rsyncd) deprecate `configuration.sshd.hostKeys` and all "snake cased" values and replace them by "camel cased" values
  charts/rsyncd/Chart.yaml
  charts/rsyncd/templates/_helpers.tpl
  charts/rsyncd/templates/configmap.rsyncd-conf.yaml
  charts/rsyncd/templates/deployment.yaml
  charts/rsyncd/templates/secrets.yaml
  charts/rsyncd/templates/service.yaml
  charts/rsyncd/tests/custom_values_rsyncd_test.yaml
  charts/rsyncd/tests/custom_values_sshd_test.yaml
  charts/rsyncd/tests/defaults_test.yaml
  charts/rsyncd/tests/values/custom_rsyncd.yaml
  charts/rsyncd/tests/values/custom_sshd.yaml
  charts/rsyncd/values.yaml
Labels: rsyncd, breaking

#1456 fix(mirrorbits) correct volume mount subpath for repository
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
Labels: bug, mirrorbits
