Repository jenkins-infra/helm-charts, pull requests merged in 2024-05, with the labels that each got.

#1159 fix(artifact-caching-proxy) ensure correct pod affinity, toleration, nodeSelector, resources and security contexts
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/statefulset.yaml
  charts/artifact-caching-proxy/tests/affinity_test.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: bug, artifact-caching-proxy

#1166 cleanup(jenkins-jobs) remove references to cik8s deleted cluster
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/tests/credentials_test.yaml
  charts/jenkins-jobs/values.yaml
Labels: chore, jenkins-jobs

#1169 make first proxy target path configurable
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/nginx-proxy-configmap.yaml
  charts/artifact-caching-proxy/tests/proxy_cache_config_test.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: enhancement, artifact-caching-proxy

#1173 make dns resolver configurable
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/nginx-proxy-configmap.yaml
  charts/artifact-caching-proxy/tests/proxy_cache_config_test.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: enhancement, artifact-caching-proxy
