Repository jenkins-infra/helm-charts, pull requests merged in 2024-02, with the labels that each got.

#1070 Jenkinsio chart update Readme
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/README.md
Labels: documentation, jenkinsio

#1073 feat(incrementals-publisher) allow customizing permissions URL
  charts/incrementals-publisher/Chart.yaml
  charts/incrementals-publisher/templates/deployment.yaml
  charts/incrementals-publisher/tests/custom_values_test.yaml
  charts/incrementals-publisher/tests/defaults_test.yaml
  charts/incrementals-publisher/tests/secret-values.yaml
  charts/incrementals-publisher/values.yaml
Labels: enhancement, incrementals-publisher

#1081 feat(jenkins-jobs) add GitHub scm custom notification to ensure distinct checks for each job
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_helpers.tpl
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: enhancement, jenkins-jobs

#1085 fix(jenkins.io): don't hardcode `jenkinsio` resource name and references
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/templates/deployment.yaml
  charts/jenkinsio/templates/secret.yaml
  charts/jenkinsio/templates/zh-deployment.yaml
Labels: bug, jenkinsio

#1086 feat(jenkins.io): allow disabling either jenkins.io or zh-jenkins.io
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/templates/configmap.yaml
  charts/jenkinsio/templates/deployment.yaml
  charts/jenkinsio/templates/pdb.yaml
  charts/jenkinsio/templates/secret.yaml
  charts/jenkinsio/templates/service.yaml
  charts/jenkinsio/templates/zh-configmap.yaml
  charts/jenkinsio/templates/zh-deployment.yaml
  charts/jenkinsio/templates/zh-pdb.yaml
  charts/jenkinsio/templates/zh-secret.yaml
  charts/jenkinsio/templates/zh-service.yaml
  charts/jenkinsio/tests/custom_values_test.yaml
  charts/jenkinsio/tests/defaults_values_test.yaml
  charts/jenkinsio/values.yaml
Labels: enhancement, jenkinsio
