Repository jenkins-infra/helm-charts, pull requests merged in 2024-09, with the labels that each got.

#1321 fix(jenkins-jobs) avoid error logs by ensuring no spaces before newlines
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/jcasc-jobs-config.yaml
  charts/jenkins-jobs/tests/credentials_test.yaml
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: bug, jenkins-jobs

#1325 cleanup!(mirrorbits-parent) Remove SVC account
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/templates/serviceaccount.yaml
  charts/mirrorbits-parent/tests/custom_values_serviceaccount_test.yaml
  charts/mirrorbits-parent/tests/defaults_test.yaml
  charts/mirrorbits-parent/values.yaml
Labels: mirrorbits-parent, breaking

#1327 feat(mirrorbits) allow setting up OutputMode in mirrorbits configuration
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/_helpers.tpl
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
Labels: enhancement, mirrorbits

#1329 feat(httpd) add support of custom annotations for deployment
  charts/httpd/Chart.yaml
  charts/httpd/templates/deployment.yaml
  charts/httpd/tests/custom_values_test.yaml
  charts/httpd/tests/defaults_test.yaml
  charts/httpd/tests/parent_values_test.yaml
  charts/httpd/tests/values/custom.yaml
  charts/httpd/tests/values/global.yaml
Labels: enhancement, httpd

#1331 feat(httpd/restart): provide a cronjob for rollout restart
  CONTRIBUTING.md
  charts/httpd/Chart.yaml
  charts/httpd/templates/httpdRestart.yaml
  charts/httpd/tests/custom_values_test.yaml
  charts/httpd/tests/defaults_test.yaml
  charts/httpd/values.yaml
Labels: enhancement, httpd

#1337 hotfix(httpd): container for cronjob need lowercase only
  charts/httpd/Chart.yaml
  charts/httpd/templates/httpdRestart.yaml
Labels: bug, httpd

#1339 feat(mirrorbits) allow specifying existing PVCs for repository data and geoipdata
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/_helpers.tpl
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/templates/persistentVolumeClaims.yaml
  charts/mirrorbits/templates/persistentVolumes.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/values/custom_existingPVC.yaml
  charts/mirrorbits/values.yaml
Labels: enhancement, mirrorbits

#1347 chore(acp/report/acme): correct a type on {{- end }} missing a space
  charts/acme/Chart.yaml
  charts/acme/templates/clusterIssuer.yaml
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/statefulset.yaml
  charts/reports/Chart.yaml
  charts/reports/templates/deployment.yaml
Labels: chore, reports, acme, artifact-caching-proxy

#1346 feat(nginx-website): add overrideLocations option
  charts/nginx-website/Chart.yaml
  charts/nginx-website/templates/nginx-configmap.yaml
  charts/nginx-website/tests/custom_values_locations_test.yaml
  charts/nginx-website/tests/values/custom.yaml
  charts/nginx-website/values.yaml
Labels: enhancement, nginx-website

#1349 chore(updatecli): add a manifest to bump kubectl version to the kubernetes used on publick8s
  updatecli/updatecli.d/httpd-kubectl.yaml
Labels: chore, updatecli

#1351 chore(updatecli): hotfix use `kind: helmchart` to handle the helm chart bump with the tag update
  updatecli/updatecli.d/httpd-kubectl.yaml
Labels: chore

#1354 feat(httpd) allow using subdir for the htdocs volume mount
  charts/httpd/Chart.yaml
  charts/httpd/templates/deployment.yaml
  charts/httpd/tests/custom_values_test.yaml
  charts/httpd/tests/defaults_test.yaml
  charts/httpd/tests/values/custom.yaml
Labels: enhancement, httpd

#1362 fix(httpd) restrict cronjob resources name to 52 chars. max.
  charts/httpd/Chart.yaml
  charts/httpd/templates/_helpers.tpl
  charts/httpd/templates/httpdRestart.yaml
  charts/httpd/tests/custom_values_test.yaml
  charts/httpd/tests/values/custom.yaml
Labels: bug, httpd

#1368 feat(httpd) allow passing server MPM tuning directives
  charts/httpd/Chart.yaml
  charts/httpd/templates/configmap.yaml
  charts/httpd/tests/custom_values_test.yaml
  charts/httpd/tests/defaults_test.yaml
  charts/httpd/tests/values/custom.yaml
  charts/httpd/values.yaml
Labels: enhancement, httpd
