Repository jenkins-infra/helm-charts, pull requests merged in 2024-01, with the labels that each got.

#1007 cleanup!(mirrorbit-parent) change dependency to support renaming of `mirrorbits-lite` to `mirrorbits`. BREAKING.
  charts/mirrorbits-parent/Chart.lock
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/README.md
  charts/mirrorbits-parent/templates/_helpers.tpl
  charts/mirrorbits-parent/tests/custom_values_ingress_test.yaml
  charts/mirrorbits-parent/tests/custom_values_serviceaccount_test.yaml
  charts/mirrorbits-parent/values.yaml
  updatecli/updatecli.d/httpd.yaml
Labels: mirrorbits-parent

#1013 chore(mirrorbits-parent) fix unittest for helm-unittest `v0.4.1`
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/tests/custom_values_ingress_test.yaml
  charts/mirrorbits-parent/tests/custom_values_storage_test.yaml
  charts/mirrorbits-parent/tests/values/custom.yaml
Labels: chore, mirrorbits-parent

#1014 chore(GHA/test): run tests on all charts if this workflow is modified
  .github/workflows/test.yml
Labels: chore, github-action

#1020 fix(GHA/test): don't fail
  .github/workflows/test.yml
  updatecli/updatecli.d/mirrorbits-parent.yaml
Labels: bug

#1025 fix(GHA/test): proper `modifiedWorkflow` init if empty
  .github/workflows/test.yml
Labels: bug, github-action

#1028 docs(jenkinsio) update instructions
  charts/jenkinsio/Chart.yaml
  charts/jenkinsio/README.md
Labels: documentation, jenkinsio

#1031 feat(ldap) pin image version to the tag `1.0.1`
  charts/ldap/Chart.yaml
  charts/ldap/values.yaml
  updatecli/updatecli.d/ldap.yaml
Labels: enhancement, ldap

#1037 feat(mirrorbits) use readonly mounts for data volume
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/defaults_test.yaml
Labels: enhancement, mirrorbits
