Repository jenkins-infra/helm-charts, pull requests merged in 2024-07, with the labels that each got.

#1205 feat(artifact-caching-proxy) allow customization of the PVC template prefix (for statefulset)
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/statefulset.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: enhancement, artifact-caching-proxy

#1206 feat(ldap) allow specifying custom PVC for data or backup volumes
  charts/ldap/Chart.yaml
  charts/ldap/templates/persistentVolume.yaml
  charts/ldap/templates/persistentVolumeClaim.yaml
  charts/ldap/templates/statefulset.yaml
  charts/ldap/tests/custom_values_test.yaml
  charts/ldap/tests/defaults_values_test.yaml
  charts/ldap/values.yaml
Labels: enhancement, ldap

#1207 fix(acp) correct missing references to templatized volume in volumeMounts
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/statefulset.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
Labels: bug, artifact-caching-proxy

#1218 chore: rename Jenkinsfile_k8s to Jenkinsfile_updatecli
  Jenkinsfile_updatecli
  updatecli/values.yaml
Labels: chore, updatecli

#1242 feat!(httpd) allow specifying a custom ServerName through the `httpdConf.serverName` new value.
  charts/httpd/Chart.yaml
  charts/httpd/templates/configmap.yaml
  charts/httpd/tests/custom_values_test.yaml
  charts/httpd/values.yaml
Labels: enhancement, httpd, breaking

#1244 feat!(jenkins-jobs) defaults to skip build on the first branch indexing.
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/README.md
  charts/jenkins-jobs/templates/_helpers.tpl
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/manual/helmfile-k3d.yaml
  charts/jenkins-jobs/tests/manual/jenkins-jobs_values.yaml
  charts/jenkins-jobs/tests/manual/jenkins_values.yaml
  charts/jenkins-jobs/tests/manual/k3d.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: jenkins-jobs, breaking

#1245 feat!(jenkins-jobs) defaults Multibranch Jobs to remove orphaned items immediately and abord their builds.
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_helpers.tpl
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: jenkins-jobs, breaking
