Repository jenkins-infra/helm-charts, pull requests merged in 2024-08, with the labels that each got.

#1257 feat(acp) allow specifying annotations for ACP Service
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/service.yaml
  charts/artifact-caching-proxy/tests/custom_values_test.yaml
  charts/artifact-caching-proxy/tests/defaults_test.yaml
Labels: enhancement, artifact-caching-proxy

#1262 feat(mirrorbits-parent) allow creating addition ingresses to support advanced routing cases
  charts/mirrorbits-parent/Chart.yaml
  charts/mirrorbits-parent/templates/additional-ingresses.yaml
  charts/mirrorbits-parent/tests/custom_values_ingress_test.yaml
  charts/mirrorbits-parent/tests/values/custom.yaml
  charts/mirrorbits-parent/values.yaml
Labels: enhancement, mirrorbits-parent

#1268 feat!(mirrorbits) define mirrorbits.conf using (visible) values
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/NOTES.txt
  charts/mirrorbits/templates/_helpers.tpl
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/templates/secrets.yaml
  charts/mirrorbits/templates/service.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/parent_values_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
  charts/mirrorbits/tests/values/global.yaml
  charts/mirrorbits/values.yaml
Labels: mirrorbits, breaking

#1273 feat(geoipupdates) introduces new chart in version 0.0.1
  charts/geoipupdates/Chart.yaml
  charts/geoipupdates/templates/_helpers.tpl
  charts/geoipupdates/templates/deployment.yaml
  charts/geoipupdates/templates/secret.yaml
  charts/geoipupdates/tests/defaults_test.yaml
  charts/geoipupdates/values.yaml
Labels: geoipupdates

#1274 chore(updatecli) track maxmind/geoipupdates from ghcr.io and only on the new chart
  updatecli/updatecli.d/geoipupdates.yaml
  updatecli/updatecli.d/mirrorbits.yaml
Labels: chore, updatecli, geoipupdates

#1275 feat!(mirrorbits) remove GeoIp side containers
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/_helpers.tpl
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/templates/persistentVolume.yaml
  charts/mirrorbits/templates/persistentVolumeClaim.yaml
  charts/mirrorbits/templates/persistentVolumeClaims.yaml
  charts/mirrorbits/templates/persistentVolumes.yaml
  charts/mirrorbits/templates/secrets.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/parent_values_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
  charts/mirrorbits/values.yaml
Labels: mirrorbits, breaking

#1279 fix(mirrorbits) do not mix repository scan interval with (mirrors) scan interval in configuration
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/_helpers.tpl
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
Labels: bug, mirrorbits

#1280 fix(mirrorbits) ensure containerSecurityContext and resource are unspecified if not provided by value
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
Labels: bug, mirrorbits

#1282 feat(mirrorbits) allow passing annotations to pod template
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
  charts/mirrorbits/values.yaml
Labels: enhancement, mirrorbits

#1285 feat!(mirrorbits) defaults download logs to stdout
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/_helpers.tpl
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/values.yaml
Labels: mirrorbits, breaking

#1291 feat(mirrorbits) allow enabling and exposing CLI RPC port for remote control
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/_helpers.tpl
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/templates/ingress.yaml
  charts/mirrorbits/templates/ingresses.yaml
  charts/mirrorbits/templates/service.yaml
  charts/mirrorbits/templates/services.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
  charts/mirrorbits/tests/parent_values_test.yaml
  charts/mirrorbits/tests/values/custom.yaml
  charts/mirrorbits/values.yaml
Labels: enhancement, mirrorbits

#1297 feat(nginx-website): allow to customise nginx configuration
  charts/nginx-website/Chart.yaml
  charts/nginx-website/templates/deployment.yaml
  charts/nginx-website/templates/nginx-configmap.yaml
  charts/nginx-website/tests/custom_values_test.yaml
  charts/nginx-website/tests/defaults_test.yaml
  charts/nginx-website/values.yaml
Labels: enhancement, nginx-website

#1303 fix(jenkins-jobs) GH App credential owner must be a groovy string
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_helpers.tpl
  charts/jenkins-jobs/tests/credentials_test.yaml
Labels: bug, jenkins-jobs

#1304 fix(mirrorbits) probes should use the specified exposed port
  charts/mirrorbits/Chart.yaml
  charts/mirrorbits/templates/NOTES.txt
  charts/mirrorbits/templates/deployment.yaml
  charts/mirrorbits/tests/custom_values_test.yaml
  charts/mirrorbits/tests/defaults_test.yaml
Labels: bug, mirrorbits

#1306 fix(jenkins-jobs) fix deprecated syntax for GH Fork Discovery traits
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_helpers.tpl
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: bug, jenkins-jobs

#1308 feat(jenkins-jobs) allow specifying a GitHub Branch Scan Credential for a given Folder
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_helpers.tpl
  charts/jenkins-jobs/tests/credentials_test.yaml
Labels: enhancement, mirrorbits

#1313 chore(jenkins-jobs) code and metadata cleanup
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/README.md
  charts/jenkins-jobs/templates/_jobDSL_credentials.tpl
  charts/jenkins-jobs/templates/_jobDSL_jobs_commons.tpl
  charts/jenkins-jobs/templates/_jobDSL_jobs_multibranch.tpl
  charts/jenkins-jobs/tests/credentials_test.yaml
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/manual/jenkins_values.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: chore, jenkins-jobs

#1316 chore(jenkins jobs) improve tests and fix whitespaces (almost)
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_jobDSL_credentials.tpl
  charts/jenkins-jobs/templates/_jobDSL_jobs_commons.tpl
  charts/jenkins-jobs/templates/_jobDSL_jobs_multibranch.tpl
  charts/jenkins-jobs/templates/jcasc-jobs-config.yaml
  charts/jenkins-jobs/tests/base_test.yaml
  charts/jenkins-jobs/tests/credentials_test.yaml
  charts/jenkins-jobs/tests/defaults_test.yaml
  charts/jenkins-jobs/tests/fixtures/base_jenkinsname.yaml
  charts/jenkins-jobs/tests/fixtures/credentials_default.yaml
  charts/jenkins-jobs/tests/fixtures/credentials_override.yaml
  charts/jenkins-jobs/tests/fixtures/folders_children.yaml
  charts/jenkins-jobs/tests/fixtures/folders_default.yaml
  charts/jenkins-jobs/tests/fixtures/folders_description.yaml
  charts/jenkins-jobs/tests/fixtures/multibranch_custom.yaml
  charts/jenkins-jobs/tests/fixtures/multibranch_customadvanced.yaml
  charts/jenkins-jobs/tests/fixtures/multibranch_customgithub.yaml
  charts/jenkins-jobs/tests/fixtures/multibranch_default.yaml
  charts/jenkins-jobs/tests/folders_test.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
Labels: bug, chore, jenkins-jobs

#1317 feat(jenkins-jobs) factorize Jenkins Infra default settings to values
  charts/jenkins-jobs/Chart.yaml
  charts/jenkins-jobs/templates/_jobDSL_jobs_multibranch.tpl
  charts/jenkins-jobs/tests/credentials_test.yaml
  charts/jenkins-jobs/tests/multibranch_job_test.yaml
  charts/jenkins-jobs/values.yaml
Labels: enhancement, jenkins-jobs
