Repository jenkins-infra/helm-charts, pull requests merged in 2025-01, with the labels that each got.

#1507 Add directive 'proxy_ssl_server_name on' by default
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/nginx-proxy-configmap.yaml
  charts/artifact-caching-proxy/tests/proxy_cache_config_test.yaml
  charts/artifact-caching-proxy/values.yaml
Labels: enhancement, artifact-caching-proxy

#1510 feat(jenkins-kubernetes-agents) allow specifying groups bound to the RBAC role used by Jenkins
  charts/jenkins-kubernetes-agents/Chart.yaml
  charts/jenkins-kubernetes-agents/templates/rbac.yaml
  charts/jenkins-kubernetes-agents/tests/custom_values_test.yaml
  charts/jenkins-kubernetes-agents/values.yaml
Labels: enhancement, jenkins-kubernetes-agents

#1544 fix(acp) tune proxy timeouts
  charts/artifact-caching-proxy/Chart.yaml
  charts/artifact-caching-proxy/templates/nginx-proxy-configmap.yaml
Labels: bug, artifact-caching-proxy
